:host {
  --backgroundColor: #161d2f;
}

#nav {
  width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColor);
  border-radius: 10px;
  height: 700px;
  margin-left: 32px;
  margin-top: 32px;
  position: relative;
}

.nav-icons:hover {
  fill: #fc4747;
}

#profile {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
}

#allIcons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

#allIcons-div img {
  margin-bottom: 20px;
}

#logo-img {
  margin-top: 34px;
  margin-bottom: 50px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.712);
}

.active img{
  width: 20px !important;
  height: 20px !important;
}


@media screen and (max-width: 1024px) {
  #nav {
    display: flex;
    flex-direction: row;
    width: 719px;
    height: 72px;
    width: auto;
    margin-right: 32px;
  }

  #allIcons-div {
    flex-direction: row;
    width: 719px;
    height: 72px;
    margin-left: 30px;
    align-items: center;
  }

  .nav-icons {
    margin-right: 20px;
    margin-top: 20px;
  }

  #logo-img {
    width: 32px;
    height: 25.6px;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 0;
  }

  #profile{
    right: 10px;
  }
}


@media screen and (max-width: 768px) {
  #nav {
    display: flex;
    width: 100vw;
    height: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  #allIcons-div {
    flex-direction: row;
    width: 719px;
    height: 56px;
    margin-left: 30px;
    align-items: center;
    position: relative;
  }

  .nav-icons,
  #logo-img {
    justify-content: center;
    top: 0;
    bottom: 0;
  }

  #logo-img {
    width: 32px;
    height: 25.6px;
  }

  #profile{
    bottom: 8px;
  }
}
