<nav id="nav">
  <img id="logo-img" src="/assets/logo.svg" alt="" />
  <div id="allIcons-div">
    <img
      id="home-icon"
      src="/assets/icon-nav-home.svg"
      class="nav-icons"
      alt=""
      routerLink="/main/home"
    />
    <img
      id="movies-icon"
      src="/assets/icon-nav-movies.svg"
      class="nav-icons"
      alt=""
      routerLink="/main/movies"
    />
    <img
      id="tvSeries-icon"
      src="/assets/icon-nav-tv-series.svg"
      class="nav-icons"
      alt=""
      routerLink="/main/series"
    />

    <div
      routerLink="/main/bookmark"
      routerLinkActive="active"
      [ngClass]="{ 'inactive-icon': !isActive, 'active-icon': isActive }"
    >
      @if (!isActive) {
      <img
        id="bookmark-icon"
        src="/assets/icon-nav-bookmark.svg"
        class="nav-icons"
        alt=""
      />
      } @else {
      <img
        id="bookmark-icon"
        src="/assets/icon-bookmark-full.svg"
        class="nav-icons"
        alt=""
      />
      }
    </div>
  </div>
  <img src="/assets/image-avatar.png" alt="" id="profile" />
</nav>
