:host{
    --backgroundColor: #161D2F
}

:host{
    --red:#FC4747
}


#logo{
    display: flex;
    margin: auto;
    margin-top: 78px;
}

input::placeholder{
    color: white;
}

input{
    outline: none;
}

h1{
    color: white;
    font-family: 'Lexend-Light';
    font-weight: lighter;
    font-size: 32px;
}

#login-container{
    background-color: var(--backgroundColor);
    width: 400px;
    height: 373px;
    border-radius: 5%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

#loginButton-div button{
    color: white;
    background-color: var(--red);
    width: 336px;
    height: 48px;
    border: none;
    margin-bottom: 8px;
    border-radius: 5px;
}

#loginButton-div button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}


#signUp-div button{
    color: var(--red);
    border: none;
    background-color: var(--backgroundColor);
}

#signUp-div p{
    color: white;
    font-family: 'Lexend-ExtraLight';
}

#email-div,
#password-div{
  margin-bottom: 20px;
  position: relative;
}

#email-div small div,
#password-div small div{
  color: var(--red);
  position: absolute;
  right: 30px;
  top: 0;
  font-family: "Lexend-Light";
}

#email-div .email.invalid,
#password-div .password.invalid{
  border-bottom: 1px solid red;
}

#email-div, #password-div{
    margin-bottom: 50px;
    position: relative;
}

#email-div small div, #password-div small div{
    color: var(--red);
    position: absolute;
    right: 30px;
    top: 0;
    font-family: 'Lexend-Light';
}

#email-div input, #password-div input{
    border: none;
    background-color: var(--backgroundColor);
    border-bottom: 1px solid gray;
    width: 336px;
    height: 37px;
    color: white;
    font-family: 'Lexend-Light';
    outline: none;
    border: none;
}

#email-div input:hover, #password-div input:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}

::placeholder{
    color: rgba(255, 255, 255, 0.712)
}

#loginText-div{
    display: flex;
    margin-top: 100px;
    padding-left: 32px;
}


@media screen and (max-width: 768px) {
    #login-container{
        width: 327px;
        height: 420px;
    }

    #email-div input, #password-div input, #repeat-password input{
        width: 279px;
        height: 37px;
    }

    #loginButton-div button{
        width: 279px;
        height: 48px;
    }
}