<div>
    <img src="/assets/logo.svg" alt="" id="logo">
</div>

<div id="login-container">
    <div id="loginText-div">
        <h1>Login</h1>
    </div>
    <div id="email-div">
        <input type="text" placeholder="Email address">
    </div>
    <div id="password-div">
        <input type="password" name="" id="" placeholder="Password">
    </div>

    <div id="loginButton-div">
        <button>Login to your account</button>
    </div>
    
    <div id="signUp-div">
        <p>Don’t have an account? <button>Sign Up</button></p>
        
    </div>
  
</div>
