#trendingText-div{
    color: white;
    font-family: 'Lexend-ExtraLight';
    font-size: 10px;
}

.trendImg{
    width: 12px !important;
    height: 12px !important;
}

#cards{
    gap: 40px;
    display: flex;
    height: auto;
    overflow-x: auto;
}
#cards::-webkit-scrollbar { width: 0 !important }

#trend{
    margin-top: 100px;
}

@media screen and (max-width:1024px) {
    #trend{
        margin-top: 40px;
    }
}

