label{
    font-family: 'lexend-ExtraLight';
    color: white;
}

#divWrapping-appMovie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px; 
    row-gap: 20px;
}

#main-div{
    width: 100%;
}

#main-div{
    margin-top: 100px;
}

@media screen and (max-width: 1024px) {
    
#divWrapping-appMovie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 0px;
}

#main-div{
    width: 94%;
    margin-top: 40px;
}

}


@media screen and (max-width: 768px) {
    
#divWrapping-appMovie{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
    
}

#main-div{
    width: 99%;
}

}