<div>
    <img src="/assets/logo.svg" alt="" id="logo">
</div>

<div id="signUp-container">
    <div id="signUpText-div">
        <h1>Sign Up</h1>
    </div>
    <div id="email-div">
        <input type="text" placeholder="Email address">
    </div>
    <div id="password-div">
        <input type="password" name="" id="" placeholder="Password">
    </div>
    <div id="repeat-password">
        <input type="password" placeholder="Repeat password">
    </div>

    <div id="signUpButton-div">
        <button>Create an account</button>
    </div>
    
    <div id="signUp-div">
        <p>Already have an account? <button>Login</button></p>   
    </div>
  
</div>

