<form action="" [formGroup]="signupForm" (ngSubmit)="createAccount()">
  <div>
    <img src="/assets/logo.svg" alt="" id="logo" />
  </div>

  <div id="signUp-container">
    <div id="signUpText-div">
      <h1>Sign Up</h1>
    </div>
    <div id="email-div">
      <input
        type="text"
        placeholder="Email address"
        formControlName="email"
        name="email"
        class="email"
        [ngClass]="{ invalid: invalidEmail }"
      />
      @if(invalidEmail){
      <small>
        @if(email.errors?.['required']){
        <div>Can't be empty</div>
        }
        @if(email.errors?.['email']){
          <div>invalid email address</div>
          }
      </small>
      }
    </div>
    <div id="password-div">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        name="password"
        class="password"
        [ngClass]="{ invalid:invalidPassword }"
      />
      @if(invalidPassword){
      <small>
        @if(password.errors?.['required']){
        <div>Password is required</div>
        }
      </small>
      }
    </div>
    <div id="repeat-password">
      <input
        type="password"
        placeholder="Repeat password"
        formControlName="repeatPassword"
        name="repeatPassword"
        class="repeatPassword"
        [ngClass]="{ invalid: repeatPassword.invalid && repeatPassword.dirty, invalidRepeatPassword: misMatchPassword}"
      />
      @if(repeatPassword.invalid && repeatPassword.dirty){
      <small>
        @if(repeatPassword.errors?.['required']){
        <div>Repeat Password</div> 
        }
        </small>
      }
      <small>
        @if(misMatchPassword){
        <div>Password should match</div>
        }
      </small>
    </div>
    <div id="signUpButton-div">
      <button type="submit" [disabled]="isFormInvalid" routerLink="/main/home">Create an account</button>
    </div>
    <div id="signUp-div">
      <p>
        Already have an account?
        <button routerLink="/login">Login</button>
      </p>
    </div>
  </div>
</form>
