.bookmark img {
  width: 32px !important;
  height: 32px !important;
}

.bookmark {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 20px;
  top: 15px;
}

#playbutton{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#img-container:hover #playbutton{
    display: block;
}

#img-container{
    position: relative;
}

.description-main {
  color: white;
  font-family: "Lexend-ExtraLight";
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
}

.recommended-images {
  width: 100%;
  height: 174px;
  margin-bottom: 50px;
  border-radius: 5px;
  left: 0;
  right: 0;
}

.description-info {
  font-size: 13px;
  align-items: center;
  display: flex;
}

.description-info div {
  margin-right: 10px;
}

.img-div {
  position: relative;
  height: 226px;
}

.title {
  font-size: 18px;
  font-family: "Lexend-Light";
}

.imgRow div img {
  height: 200px;
  border-radius: 5px;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1910px) {
  .recommended-images {
    width: 100%;
    height: 220px;
  }

  .img-div {
    height: 270px;
  }
}

@media screen and (max-width: 1024px) {
  .recommended-images {
    width: 100%;
    height: 160px;
    margin-bottom: 0;
  }

  .img-div {
    padding-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .recommended-images {
    width: 100%;
    height: 150px ;
    margin-bottom: 5px;
  }

  .img-div {
    width: 100%;
    height: 200px;
  }
  
}



@media screen and (max-width: 550px) {
  .recommended-images {
    width: 100%;
    height: 110px;
    margin-bottom: 5px;
  }

  .img-div {
    width: 100%;
    height: 160px;
  }
  
}
