<div class="img-div">
    <div id="img-container">
      <img
        src="{{data.imgUrl }}"
        alt=""
        class="recommended-images"/>
        <div id="playbutton">
            <img [src]="playImg.playIcon" alt="">
        </div>
    </div>
    <div class="description-main">
      <div class="description-info">
        <div>{{ data.year }}</div>
        <div>
          <img src="{{ data.icon }}" alt="" class="trendImg" />
        </div>
        <div>{{ data.category }}</div>
        <div>{{ data.rated }}</div>
      </div>
      <div class="title">{{ data.description }}</div>
    </div>
    <div class="bookmark" (click)="onHandleBookmark()">
        @if (isBookmarked) {
            <img [src]="bookmarkData.BookmarkFull"  />
            } @else {
            <img [src]="bookmarkData.BookmarkEmpty" />
            }
    </div>
  </div>