#search-nav{
    display: flex;
    height: 32px;
    width: 400px;
    background-color:#10141E;
    margin-top: 50px;
    color: white;
}

#search-nav input{
    background: transparent;
    border: none;
    width: 381px;
    margin-left: 20px;
}

#search-div{
    width: 90vw;
    height: 100px;
    position: absolute;
    z-index: 4;
    background-color:#10141E;
}

input{
    color: white;
    outline: none;
    caret-color: #FC4747;
    outline: none;
    border: none;
}

input:focus {
    border-bottom: 1px solid #5A698F !important;
    outline: none;
    border: none;
}

@media screen and (max-width: 1024px){
    #search-div{
        width: 257px;
        position: static;
        height: 20px;
    }

}

@media screen and (max-width: 768px){
    #search-div{
        width: 257px;
        position: static;
        height: 20px;
    }

    #search-nav{
        width: 257px;
        margin-left: 0px;
    }

}


