#trendingText-div{
    color: white;
    font-family: 'Lexend-ExtraLight';
    font-size: 10px;
}

#cards img{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

.trendImg{
    width: 12px !important;
    height: 12px !important;
}

.imgRow img{
    width: 280px;
    height: 200px;
    border-radius: 5px;
}

.imgRow{
    gap: 20px;
    display: flex;
}

#cards{
    gap: 20px;
    display: flex;
    height: auto;
    overflow-x: auto;
}
#cards::-webkit-scrollbar { width: 0 !important }

#recommendedText-div{
    color: white;
    font-family: 'Lexend-ExtraLight';
    font-size: 10px;
}

#recommendedCards-div{
    display: grid;
    grid-row-gap: 20px;
}

.title{
    color: white;
    font-family: 'Lexend-ExtraLight';
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 38px;
    left: 30px;
}

#description-info{
    display: flex;
}

#description-info div{
    margin-right: 10px ;
}

#img-div{
    position: relative;
}








@media screen and (max-width:1024px){
    .imgRow img{
        width: 220px;
        height: 200px;
        border-radius: 5px;
    }
}

@media screen and (max-width:768px){

}

