<div id="trend">
  <div id="trendingText-div">
    <h1>Trending</h1>
  </div>
  <div id="cards">
    <div class="img-div">
      <div>
        <img src="{{ BeyondEarth.imgUrl }}" alt="" />
      </div>
      <div class="description-main">
        <div class="description-info">
          <div>{{ BeyondEarth.year }}</div>
          <div>
            <img src="{{ BeyondEarth.icon }}" alt="" class="trendImg" />
          </div>
          <div>{{ BeyondEarth.category }}</div>
          <div>{{ BeyondEarth.rated }}</div>
        </div>
        <div class="title">{{ BeyondEarth.description }}</div>
      </div>
      <div class="bookmark">
        <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
      </div>
    </div>
    <div class="img-div">
      <div>
        <img src="{{ BottomGear.imgUrl }}" alt="" />
      </div>
      <div class="description-main">
        <div class="description-info">
          <div>{{ BottomGear.year }}</div>
          <div><img src="{{ BottomGear.icon }}" alt="" class="trendImg" /></div>
          <div>{{ BottomGear.category }}</div>
          <div>{{ BottomGear.rated }}</div>
        </div>
        <div class="title">{{ BottomGear.description }}</div>
      </div>
      <div class="bookmark">
        <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
      </div>
    </div>
    <div class="img-div">
      <div>
        <img src="{{ Undiscovered.imgUrl }}" alt="" />
      </div>
      <div class="description-main">
        <div class="description-info">
          <div>{{ Undiscovered.year }}</div>
          <div>
            <img src="{{ Undiscovered.icon }}" alt="" class="trendImg" />
          </div>
          <div>{{ Undiscovered.category }}</div>
          <div>{{ Undiscovered.rated }}</div>
        </div>
        <div class="title">{{ Undiscovered.description }}</div>
      </div>
      <div class="bookmark">
        <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
      </div>
    </div>
    <div class="img-div">
      <div>
        <img src="{{ Ninety.imgUrl }}" alt="" id="ninety-eight" />
      </div>
      <div class="description-main">
        <div class="description-info">
          <div>{{ Ninety.year }}</div>
          <div><img src="{{ Ninety.icon }}" alt="" class="trendImg" /></div>
          <div>{{ Ninety.category }}</div>
          <div>{{ Ninety.rated }}</div>
        </div>
        <div class="title">{{ Ninety.description }}</div>
      </div>
      <div class="bookmark">
        <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
      </div>
    </div>
    <div class="img-div">
      <div>
        <img src="{{ DarkSide.imgUrl }}" alt="" id="dark-side" />
      </div>
      <div class="description-main">
        <div class="description-info">
          <div>{{ DarkSide.year }}</div>
          <div><img src="{{ DarkSide.icon }}" alt="" class="trendImg" /></div>
          <div>{{ DarkSide.category }}</div>
          <div>{{ DarkSide.rated }}</div>
        </div>
        <div class="title">{{ DarkSide.description }}</div>
      </div>
      <div class="bookmark">
        <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
      </div>
    </div>
  </div>
</div>

<div id="recommended">
  <div id="recommendedText-div">
    <h1>Recommended for you</h1>
  </div>
  <div id="recommended-main">
    <div id="recommendedCards-div" class="imgRow">
      <div class="img-div">
        <div>
          <img
            src="{{ GreatLands.imgUrl }}"
            alt=""
            class="recommended-images"/>
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ GreatLands.year }}</div>
            <div>
              <img src="{{ GreatLands.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ GreatLands.category }}</div>
            <div>{{ GreatLands.rated }}</div>
          </div>
          <div class="title">{{ GreatLands.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ Diary.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Diary.year }}</div>
            <div><img src="{{ Diary.icon }}" alt="" class="trendImg" /></div>
            <div>{{ Diary.category }}</div>
            <div>{{ Diary.rated }}</div>
          </div>
          <div class="title">{{ Diary.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img
            src="{{ EarthUntouched.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ EarthUntouched.year }}</div>
            <div>
              <img src="{{ EarthUntouched.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ EarthUntouched.category }}</div>
            <div>{{ EarthUntouched.rated }}</div>
          </div>
          <div class="title">{{ EarthUntouched.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img
            src="{{ LandBeyond.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ LandBeyond.year }}</div>
            <div>
              <img src="{{ LandBeyond.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ LandBeyond.category }}</div>
            <div>{{ LandBeyond.rated }}</div>
          </div>
          <div class="title">{{ LandBeyond.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>

      <div class="img-div">
        <div>
          <img
            src="{{ DuringHunt.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ DuringHunt.year }}</div>
            <div>
              <img src="{{ DuringHunt.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ DuringHunt.category }}</div>
            <div>{{ DuringHunt.rated }}</div>
          </div>
          <div class="title">{{ DuringHunt.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ AutoSport.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ AutoSport.year }}</div>
            <div>
              <img src="{{ AutoSport.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ AutoSport.category }}</div>
            <div>{{ AutoSport.rated }}</div>
          </div>
          <div class="title">{{ AutoSport.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img
            src="{{ SameAnswer.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ SameAnswer.year }}</div>
            <div>
              <img src="{{ SameAnswer.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ SameAnswer.category }}</div>
            <div>{{ SameAnswer.rated }}</div>
          </div>
          <div class="title">{{ SameAnswer.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ BelowEcho.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ BelowEcho.year }}</div>
            <div>
              <img src="{{ BelowEcho.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ BelowEcho.category }}</div>
            <div>{{ BelowEcho.rated }}</div>
          </div>
          <div class="title">{{ BelowEcho.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>

      <div class="img-div">
        <div>
          <img
            src="{{ TheRockies.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ TheRockies.year }}</div>
            <div>
              <img src="{{ TheRockies.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ BelowEcho.category }}</div>
            <div>{{ BelowEcho.rated }}</div>
          </div>
          <div class="title">{{ BelowEcho.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img
            src="{{ Relentless.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Relentless.year }}</div>
            <div>
              <img src="{{ Relentless.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ Relentless.category }}</div>
            <div>{{ Relentless.rated }}</div>
          </div>
          <div class="title">{{ Relentless.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ Community.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Community.year }}</div>
            <div>
              <img src="{{ Community.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ Community.category }}</div>
            <div>{{ Community.rated }}</div>
          </div>
          <div class="title">{{ Community.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ VanLife.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ VanLife.year }}</div>
            <div><img src="{{ VanLife.icon }}" alt="" class="trendImg" /></div>
            <div>{{ VanLife.category }}</div>
            <div>{{ VanLife.rated }}</div>
          </div>
          <div class="title">{{ VanLife.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>

      <div class="img-div">
        <div>
          <img src="{{ Heiress.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Heiress.year }}</div>
            <div><img src="{{ Heiress.icon }}" alt="" class="trendImg" /></div>
            <div>{{ Heiress.category }}</div>
            <div>{{ Heiress.rated }}</div>
          </div>
          <div class="title">{{ Heiress.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img
            src="{{ OffTheTrack.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ OffTheTrack.year }}</div>
            <div>
              <img src="{{ OffTheTrack.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ OffTheTrack.category }}</div>
            <div>{{ OffTheTrack.rated }}</div>
          </div>
          <div class="title">{{ OffTheTrack.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img
            src="{{ Whispering.imgUrl }}"
            alt=""
            id=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Whispering.year }}</div>
            <div>
              <img src="{{ Whispering.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ Whispering.category }}</div>
            <div>{{ Whispering.rated }}</div>
          </div>
          <div class="title">{{ Whispering.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ One12.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ One12.year }}</div>
            <div><img src="{{ One12.icon }}" alt="" class="trendImg" /></div>
            <div>{{ One12.category }}</div>
            <div>{{ One12.rated }}</div>
          </div>
          <div class="title">{{ One12.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>

      <div class="img-div">
        <div>
          <img src="{{ LoneHeart.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ LoneHeart.year }}</div>
            <div>
              <img src="{{ LoneHeart.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ LoneHeart.category }}</div>
            <div>{{ LoneHeart.rated }}</div>
          </div>
          <div class="title">{{ LoneHeart.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img
            src="{{ Production.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Production.year }}</div>
            <div>
              <img src="{{ Production.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ Production.category }}</div>
            <div>{{ Production.rate }}</div>
          </div>
          <div class="title">{{ Production.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ Dogs.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Dogs.year }}</div>
            <div><img src="{{ Dogs.icon }}" alt="" class="trendImg" /></div>
            <div>{{ Dogs.category }}</div>
            <div>{{ Dogs.rated }}</div>
          </div>
          <div class="title">{{ Dogs.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ Asia.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Asia.year }}</div>
            <div><img src="{{ Asia.icon }}" alt="" class="trendImg" /></div>
            <div>{{ Asia.category }}</div>
            <div>{{ Asia.rate }}</div>
          </div>
          <div class="title">{{ Asia.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>

      <div class="img-div">
        <div>
          <img src="{{ TastyTour.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ TastyTour.year }}</div>
            <div>
              <img src="{{ TastyTour.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ TastyTour.cateory }}</div>
            <div>{{ TastyTour.rated }}</div>
          </div>
          <div class="title">{{ TastyTour.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ Darker.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Darker.year }}</div>
            <div><img src="{{ Darker.icon }}" alt="" class="trendImg" /></div>
            <div>{{ Darker.category }}</div>
            <div>{{ Darker.rated }}</div>
          </div>
          <div class="title">{{ Darker.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img
            src="{{ Unresolved.imgUrl }}"
            alt=""
            class="recommended-images"
          />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Unresolved.year }}</div>
            <div>
              <img src="{{ Unresolved.icon }}" alt="" class="trendImg" />
            </div>
            <div>{{ Unresolved.category }}</div>
            <div>{{ Unresolved.rated }}</div>
          </div>
          <div class="title">{{ Unresolved.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
      <div class="img-div">
        <div>
          <img src="{{ Mission.imgUrl }}" alt="" class="recommended-images" />
        </div>
        <div class="description-main">
          <div class="description-info">
            <div>{{ Mission.year }}</div>
            <div><img src="{{ Mission.icon }}" alt="" class="trendImg" /></div>
            <div>{{ Mission.category }}</div>
            <div>{{ Mission.rated }}</div>
          </div>
          <div class="title">{{ Mission.description }}</div>
        </div>
        <div class="bookmark">
          <img src="{{ bookMarkEmpty.BookmarkEmpty }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
