<div id="trend">
    <div id="trendingText-div">
        <h1>Trending</h1>
    </div>
    <div id="cards">
        <div id="img-div">
            <div>
            <img src={{BeyondEarth.imgUrl}} alt="">
            </div>
            <div class="title">
                <div id="description-info">
                    <div>{{BeyondEarth.year}}</div>
                    <div><img src={{BeyondEarth.icon}} alt="" class="trendImg"></div>
                    <div>{{BeyondEarth.category}}</div>
                    <div>{{BeyondEarth.rated}}</div>   
                </div>
                <div>{{BeyondEarth.description}}</div>
            </div>
        </div>
        <div>
            <img src={{BottomGear.imgUrl}} alt="" >
        </div>
        <div>
            <img src={{Undiscovered.imgUrl}} alt="" id="undiscovered-cities">
        </div>
        <div>
            <img src={{Ninety.imgUrl}} alt="" id="ninety-eight">
        </div>
        <div>
            <img src={{DarkSide.imgUrl}} alt="" id="dark-side">
        </div>
    </div>
  </div>

  <div id="recommended">
    <div id="recommendedText-div">
        <h1>Recommended for you</h1>
    </div>
    <div id="recommendedCards-div">
        <div id="row1" class="imgRow">
            <div>
                <img src={{GreatLands.imgUrl}} alt="" id="">
            </div>
            <div>
                <img src={{Diary.imgUrl}} alt="" id="">
            </div>
            <div>
                <img src={{EarthUntouched.imgUrl}} alt="" id="">
            </div> 
            <div>
                <img src={{LandBeyond.imgUrl}} alt="" id="">
            </div>
        </div>

        <div id="row2" class="imgRow">
            <div>
                <img src={{DuringHunt.imgUrl}} alt="" id="">
            </div>
            <div>
                <img src={{AutoSpoort.imgUrl}} alt="" id="">
            </div>
            <div>
                <img src={{SameAnswer.imgUrl}} alt="" id="">
            </div> 
            <div>
                <img src={{BelowEcho.imgUrl}} alt="" id="">
            </div>
        </div>

        <div id="row3" class="imgRow">
                <div>
                    <img src={{TheRockies.imgUrl}} alt="" id="">
                </div>
                <div>
                    <img src={{Relentless.imgUrl}} alt="" id="">
                </div>
                <div>
                    <img src={{Community.imgUrl}} alt="" id="">
                </div> 
                <div>
                    <img src={{VanLife.imgUrl}} alt="" id="">
                </div>
        </div>

        <div id="row4" class="imgRow">
            <div>
                <img src={{Heiress.imgUrl}} alt="" id="">
            </div>
            <div>
                <img src={{OffTheTrack.imgUrl}} alt="" id="">
            </div>
            <div>
                <img src={{Whispering.imgUrl}} alt="" id="">
            </div> 
            <div>
                <img src={{One12.imgUrl}} alt="" id="">
            </div>
        </div>

        <div>
            <div id="row5" class="imgRow">
                <div>
                    <img src={{LoneHeart.imgUrl}} alt="" id="">
                </div>
                <div>
                    <img src={{Production.imgUrl}} alt="" id="">
                </div>
                <div>
                    <img src={{Dogs.imgUrl}} alt="" id="">
                </div> 
                <div>
                    <img src={{Asia.imgUrl}} alt="" id="">
                </div>
            </div>
        </div>

        <div>
            <div id="row6" class="imgRow">
                <div>
                    <img src={{TastyTour.imgUrl}} alt="" id="">
                </div>
                <div>
                    <img src={{Darker.imgUrl}} alt="" id="">
                </div>
                <div>
                    <img src={{Unresolved.imgUrl}} alt="" id="">
                </div> 
                <div>
                    <img src={{Mission.imgUrl}} alt="" id="">
                </div>
            </div>
        </div>

    </div>
  </div>
  