<div id="trend">
    <div id="trendingText-div">
        <h1>Trending</h1>
    </div>
    <div id="cards">
        <div>
            <img src={{BeyondEarth.imgUrl}} alt="" id="beyond-earth">
        </div>
        <div>
            <img src={{BottomGear.imgUrl}} alt="" id="bottom-gear">
        </div>
        <div>
            <img src={{Undiscovered.imgUrl}} alt="" id="undiscovered-cities">
        </div>
        <div>
            <img src={{Ninety.imgUrl}} alt="" id="ninety-eight">
        </div>
        <div>
            <img src={{DarkSide.imgUrl}} alt="" id="dark-side">
        </div>
    </div>
  </div>

  <div id="recommended">
    <div id="recommendedText-div">
        <h1>Recommended for you</h1>
    </div>
    <div id="recommendedCards-div">
        <div id="row1">
            <div>
            <img src={{GreatLands.imgUrl}} alt="" id="">
            </div>
            <div>
            <img src={{Diary.imgUrl}} alt="" id="">
            </div>
            <div>
            <img src={{EarthUntouched.imgUrl}} alt="" id="">
            </div> 
            <div>
            <img src={{LandBeyond.imgUrl}} alt="" id="">
            </div>
        </div>

        <div id="row2">
            <div>
            <img src={{DuringHunt.imgUrl}} alt="" id="">
            </div>
            <div>
            <img src={{AutoSpoort.imgUrl}} alt="" id="">
            </div>
            <div>
            <img src={{SameAnswer.imgUrl}} alt="" id="">
            </div> 
            <div>
            <img src={{BelowEcho.imgUrl}} alt="" id="">
            </div>
        </div>

        <div id="row3">
                <div>
                <img src={{TheRockies.imgUrl}} alt="" id="">
                </div>
                <div>
                <img src={{Relentless.imgUrl}} alt="" id="">
                </div>
                <div>
                <img src={{Community.imgUrl}} alt="" id="">
                </div> 
                <div>
                <img src={{VanLife.imgUrl}} alt="" id="">
                </div>
        </div>
    </div>
  </div>
  